body {
  font-family: system-ui;
  background-color: rgb(0, 95, 0);
}

.border {
  margin: 10px 0px;
  padding: 10px 10px;
  border: 1px solid rgb(255 255 255 / 50%);
  border-radius: 5px;
}

.title {
  color: white;
  font-weight: lighter;
}

.list-item {
  color: white;
  background-color: rgb(255 255 255 / 20%);
  padding: 4px 10px;
  margin: 5px 0px;
  border-radius: 3px;
}

.alert-back {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgb(0 0 0 / 55%);
  top: 0px;
  left: 0px;
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.alert-back > .alert-box {
  background-color: white;
  min-width: 65vw;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 3px 3px 0px rgb(0 0 0 / 50%);
  border-radius: 4px;
  overflow: hidden;
}

.alert-back > .alert-box > .alert-header {
  font-size: 2rem;
  padding: 5px 0px;
  text-align: center;
  background-color: aquamarine;
}

.alert-back > .alert-box > .alert-body {
  font-size: 1.5rem;
  padding: 5px 0px;
  text-align: center;
  margin: 20px 0px;
}

.alert-back > .alert-box > .alert-footer {
  padding: 5px 0px;
  text-align: center;
}

button.btn {
  color: white;
  background-color: rgb(0, 85, 0);
  border: none;
  font-size: 1.3rem;
  padding: 5px 20px;
  border-radius: 5px;
}

/* ################# CSS GAME ################# */

.tablebar {
  color: white;
  font-size: 1.5rem;
  text-align: center;
  padding: 0px 0px 10px 0px;
}

.table {  
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.table > .row {  
  display: flex;
}

.table > .row > div {
  cursor: pointer;
  color: white;
  font-size: 2.8rem;
  text-align: center;
  height: 64px;
  width: 64px;
}
